input, label, div, span, select{
	font-size: 14px;
	font-family: monospace;
}

br {
	margin-top: 4px;
}

.fs30b{
	font-size: 30px;
	font-weight: bold;
}

body {
	background-color: black;
	color: white;
	display: block;
}

span:not(.colorOverride) {
	color: white;
}

textarea, input {
	background-color: rgb(59, 59, 59);
	color: white;
	border: 0px;
}

textarea {
	width: 100%;
	height: 15em;
}

input[type=button],
.button {
	color: white;
	border: 1px solid rgb(87, 87, 87);
	cursor: pointer;
	background-color: rgb(59, 59, 59);
	padding-block: 0;
	padding-inline: 2px;
}

input[type=button]:active {
	background-color: black;
}

input[type=button]:hover:not(:active) {
	background-color: rgb(45, 45, 45);
}

input[type=checkbox] {
	cursor: pointer;
}

.file {
	background-color: black;
}

abbr {
	text-decoration: none;
}

a {
	color: lightblue;
}

footer {
	position: absolute;
	left: 0px;

	min-width: 100%;
	padding-top: 10px;
}

footer > span {
	display: block;
	padding-left: 3em;
	padding-right: 3em;
	padding-bottom: 1em;
}

.footerList {
	list-style: none;
	padding-left: 0px;
}

.footerList > li {
	padding-bottom: 5px;
	width: 300px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, 30ch);
}

.grid-column {
	grid-column: auto;
}

.module {
	background-color: rgb(22, 22, 22);
	margin-bottom: 10px;
	padding: 10px;
	overflow: auto;
}

.container > .module{
	margin-left: 5px;
	margin-right: 5px;
	flex-grow: 1;
	flex-basis: 0;
}

.container {
	margin-left: -5px;
	margin-right: -5px;
	display: flex;
}

select {
	color: white;
	border: 1px solid rgb(87, 87, 87);
	cursor: pointer;
	background-color: rgb(59, 59, 59);
}
