.bar {
	width: 50%;
	height: 20px;
	background-color: white;
	display: inline-block;
	vertical-align: bottom;
	margin-top: 5px;
}

.progressBar {
	height: 100%;
	background-color: green;
	display: inline-block;
}

.width6 {
	width: 6ch;
}

.pb_label {
	background: transparent;
	border: none;
	color: black;
	width: calc(50% - 25px);
	position: absolute;
}

#pb_insertButton {
	width: 40px;
	height: 40px;
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}
