.multitimer .flex-container {
	display: flex;
	flex-wrap: wrap;
	column-gap: 40px;
	row-gap: 20px;
}

.multitimer .flex-container > span {
	width: auto;
}

.multitimer .width2 {
	width: 3ch;
}

.multitimer .insertButton {
	width: 40px;
	height: 40px;
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.multitimer .name {
	margin-bottom: 4px;
}
