.todo .settings {
	z-index: 9;
	background-color: black;

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	padding: 10px;
	overflow: auto;
	max-height: 90vh;
	max-width: 90vw;
}

.todo .backgroundFade {
	z-index: 8;
	left: 0;
	top: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: black;
	opacity: 80%;
}

.todo .insertButton {
	width: 40px;
	height: 40px;
	font-size: 30px;
	line-height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.todo :not(.listEntryContainer) > .listEntry{
	margin-left: 10px;
}

.todo .todo_entry {
	margin-bottom: 3px;
	background-color: rgb(32,32,32);
	cursor: pointer;
}

.todo .descriptionSetting {
	height: 4ch;
}

.todo .description {
	font-size: 12px;
	margin: 4px;
}

.todo .date,
.todo .completedDisplay {
	color: rgb(120, 120, 120);
}

.todo .due {
	color: red;
}

.todo .spaced {
	margin-top: 4px;
	margin-left: 4px;
}

.todo .completed {
	margin-right: 0px;
}

.todo label {
	padding-left: 3px;
}

.todo .todo_entry {
	box-sizing: border-box;
	padding: 2px;
}

.todo .over-top {
	border-top: 2px solid grey;
	padding-top: 0px;
}

.todo .over-bottom {
	border-bottom: 2px solid grey;
	padding-bottom: 0px;
}
